<!DOCTYPE html>
<html>
<head>
    <title>Colo Shop</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/bootstrap4/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/slider.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/responsive.css">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="super_container">

        <!-- Header -->

        <header class="header trans_300">


            <!-- Main Navigation -->

            <div class="main_nav_container">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <div class="logo_container">
                                <a href="#">colo<span>shop</span></a>
                            </div>
                            <nav class="navbar">
                                @Html.Action("MenuTop", "Menu")
                                <ul class="navbar_user">
                                    <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                    <li class="checkout">
                                        <a href="/gio-hang">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            <span id="checkout_items" class="checkout_items">0</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="hamburger_container">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <div class="fs_menu_overlay"></div>
        <div class="hamburger_menu">
            <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="hamburger_menu_content text-right">
                <ul class="menu_top_nav">
                    <li class="menu_item has-children">
                        <a href="#">
                            My Account
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="menu_selection">
                            <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                            <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                        </ul>
                    </li>
                    <li class="menu_item"><a href="#">home</a></li>
                    <li class="menu_item"><a href="#">shop</a></li>
                    <li class="menu_item"><a href="#">promotion</a></li>
                    <li class="menu_item"><a href="#">pages</a></li>
                    <li class="menu_item"><a href="#">blog</a></li>
                    <li class="menu_item"><a href="#">contact</a></li>
                </ul>
            </div>
        </div>
        @RenderBody()





        <!-- Footer -->

        <footer class="footer" style="height: 5%; overflow: hidden; background-color: #212A3E;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
                            <ul class="footer_nav">
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                            <ul>
                                <li><a href="#" style="font-size: 30px;"><i class='bx bxl-steam'></i></li>
                                <li><a href="#" style="font-size: 30px;"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" style="font-size: 30px;"><i class='bx bxl-meta'></i></a></li>
                                <li><a href="#" style="font-size: 30px;"><i class='bx bxl-discord-alt'></i></li>
                                <li><a href="#" style="font-size: 30px;"><i class='bx bxl-twitch'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row flex-nowrap">
                    <div class="p-2 mr-auto">
                        <div class="footer_nav_container">
                            <p style="color: #F1F6F9;">About Us</p>
                            <ul>
                                <li><a href="#" style="color: #F1F6F9;">Jobs</a></li>
                                <li><a href="#" style="color: #F1F6F9;">Legal</a></li>
                                <li><a href="#" style="color: #F1F6F9;">Subscriber Agreement</a></li>
                                <li><a href="#" style="color: #F1F6F9;">Gift Cards</a></li>
                                <li><a href="#" style="color: #F1F6F9;">Distributions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="p-2 mr-auto">
                        <div class="footer_nav_container">
                            <p style="color: #F1F6F9;">Customer Support</p>
                            <ul>
                                <li><a href="#" style="color: #F1F6F9;">Refunds </a></li>
                                <li><a href="#" style="color: #F1F6F9;">Privacy Policy</a></li>
                                <li><a href="#" style="color: #F1F6F9;">Partner Program</a></li>
                                <li><a href="#" style="color: #F1F6F9;">How ---- Work</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="p-2 mr-auto">
                        <div class="footer_nav_container">
                            <p style="color: #F1F6F9;">Contact Us</p>
                            <ul>
                                <li><a href="#" style="color: #F1F6F9;">Jobs</a></li>
                                <li><a href="#" style="color: #F1F6F9;">Publish Argreement</a></li>
                                <li><a href="#" style="color: #F1F6F9;">Email Address</a></li>
                                <li><a href="#" style="color: #F1F6F9;">Become Partner</a></li>
                                <li><a href="#" style="color: #F1F6F9;">How Publishing Work</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="p-2 mr-auto">
                        <div class="footer_nav_container">
                            <p style="color: #F1F6F9;">Schadenfreude</p>
                            <ul>
                                <li><a href="#" style="color: #F1F6F9;">Memes</a></li>
                                <li><a href="#" style="color: #F1F6F9;">Market Plier</a></li>
                                <li><a href="#" style="color: #F1F6F9;">VAT V</a></li>
                                <li><a href="#" style="color: #F1F6F9;">IRWTSAYH</a></li>
                                <li><a href="#" style="color: #F1F6F9;">2077</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 70px;">
                    <div class="col-lg-8">
                        <div class="footer_nav_container">
                            <div class="cr">©2018 All Rights Reserverd. Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Colorlib</a> &amp; distributed by <a href="https://themewagon.com">ThemeWagon</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/assets/styles/bootstrap4/popper.js"></script>
    <script src="~/Content/assets/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/assets/plugins/easing/easing.js"></script>
    <script src="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/Content/assets/js/sliderscript.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jsShopping.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
