
@using DigitalStore.Common
@{
    ViewBag.Title = "Giỏ hàng";
}

<link href="~/Content/assets/styles/categories_responsive.css" rel="stylesheet" />
<link href="~/Content/assets/styles/categories_styles.css" rel="stylesheet" />

<!-- Slider -->

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                </ul>
            </div>


            <!-- Main Content -->
            <!-- Products -->
            <div class="row">
                <div class="col-md-12" id="load_data">

                    <!-- Products -->
                   <h2>Thanh toán thành công</h2>

                </div>
                <div class="col-md-12">


                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>

}


